@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: cursive;
    background-color: rgb(16, 146, 185);
    color: rgb(255, 255, 255);
}
p{
    padding: 5px;
}
header{
    margin: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
    text-align: center;
    font-size: 2em;
}
section{
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
    background-color: white;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}
footer{
    text-align: center;
    font-size: 1.1em;
}